# binary
**/*.class

# mac stuff
**/.DS_Store

# Eclipse
bin/
local.properties
.settings/
.classpath
.project

# IntelliJ IDEA 
out/
*.ipr
*.iws
*.iml

.idea/
# if you remove the above rule, at least ignore user-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# and these sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
